<div class="center">
<div class="create-post">
<button (click)="goBack()" class="back-button">Back</button>
<h2>Create New Post</h2>
<form (ngSubmit)="createPost()">
  <div>
    <input type="text" id="title" [(ngModel)]="newPost.title" name="title" required placeholder="Title here ...">
  </div>
  <div>
    <textarea id="body" [(ngModel)]="newPost.body" name="body" required placeholder="Your post ..." rows="10"></textarea>
  </div>
  <button type="submit">Create Post</button>
</form>
</div>
</div>