.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.edit-post {
    margin: auto;
    width: 350px;
    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
}

form {
  
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input, textarea {
        width: 100%;
        padding: 10px 15px;
        border-radius: 8px;
        outline: none;
        border: none;
        background-color: #444059;
        color: #f0f0f0;
    }
    textarea {
        resize: none;
    }
    button {
        padding: 20px 15px;
        border-radius: 8px;
        outline: none;
        border: none;
        background-color: #28A9F1;
        color: #04131C;
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: 600;
        font-size: 15px;
        &:hover {
            background-color: #1f7bb6;
            color: black;
        }
    }
}