.pagination {
    button {
        padding: 10px 15px;
        border-radius: 8px;
        margin: 10px;
        outline: none;
        border: none;
        background-color: #28A9F1;
        color: #04131C;
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: 600;
        font-size: 15px;
    }
}